<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TeamCityHost" value="http://col-ciserver01.columba.intern:8081/"/>
    <add key="TeamCityAuthenticationHeader" value="bS5rb3JlY2tpOkFsYW1ha290YTUk"/>
    <add key="ConfigurationPath" value="D:\citizen-config.json"/>
  </appSettings>
</configuration>