_svn/
.svn/
obj/
*.eml
[Bb]in/
[Dd]ebug/
[Rr]elease/
[Bb]ackup/
[Oo]ut/
_Re[Ss]harper.*
*.[Rr]e[Ss]harper
*.[Rr]e[Ss]harper.user
*.[Pp]ackages
*.suo
*.cache
*~
*.swp
*.user
*.nupkg
*.mdf
*.ldf
**/packages/*
!**/packages/build/
*.mdf
*.ldf
*.orig
*.css
*.js.map
*.js